<h1 align="center"> Edit Smog Check</h1>

<%= render 'form' %>
<h3 align="center">
      <%= link_to "Cancel", posts_path%>
       | 
      <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you Sure?"} %>
</h3>