<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;
      by Emmanuel Salcedo
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "List Smog Checks", posts_path%>
        </li>
        <li>
          <%= link_to "New Smog Check", new_post_path%>
        </li>
      </ul>
    </nav>
  </footer>
</div>