<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;
      by Emmanuel Salcedo
    </small>
    <nav>
      <ul>
      <% if logged_in? %>
        <li><%= link_to "List Smog Checks", posts_path%></li>
        <li><%= link_to "New Smog Checks", new_post_path%></li>
      <% end %>
      </ul>
    </nav>
  </footer>
</div>